In [137]:
import pandas as pd
import numpy as np
df = pd.read_csv("Fortune500.csv") 
print(df)

     Rank               Title  Employees                      Sector  \
0       1             Walmart    2300000                   Retailing
1       2  Berkshire Hathaway     367700                  Financials
2       3               Apple     116000                  Technology
3       4         Exxon Mobil      72700                      Energy
4       5            McKesson      68000                 Wholesalers
..    ...                 ...        ...                         ...
495   496       Michaels Cos.      31000                   Retailing
496   497       Toll Brothers       4200  Engineering & Construction
497   498               Yahoo       8500                  Technology
498   499       Vistra Energy       4431                      Energy
499   500      ABM Industries     110000           Business Services

                                     Industry         Hqcity  \
0                       General Merchandisers    Bentonville
1    Insurance: Property and Casualty (Stock)          Omaha
2                 Computers, Office Equipment      Cupertino
3                          Petroleum Refining         Irving
4                    Wholesalers: Health Care  San Francisco
..                                        ...            ...
495                Specialty Retailers: Other         Irving
496                              Homebuilders        Horsham
497           Internet Services and Retailing      Sunnyvale
498                                    Energy         Dallas
499          Diversified Outsourcing Services       New York

                        Ceo                                      Ceo-title  \
0       C. Douglas McMillon  President, Chief Executive Officer & Director
1         Warren E. Buffett             Chairman & Chief Executive Officer
2           Timothy D. Cook             Chief Executive Officer & Director
3           Darren W. Woods             Chairman & Chief Executive Officer
4        John H. Hammergren  Chairman, President & Chief Executive Officer
..                      ...                                            ...
495           Carl S. Rubin             Chairman & Chief Executive Officer
496  Douglas C. Yearley Jr.             Chief Executive Officer & Director
497        Marissa A. Mayer  President, Chief Executive Officer & Director
498        Curtis A. Morgan  President, Chief Executive Officer & Director
499        Scott B. Salmirs  President, Chief Executive Officer & Director

     Revenues  Revchange  Profits Prftchange  Assets
0      485873        0.8  13643.0       -7.2  198825
1      223604        6.1  24074.0          0  620854
2      215639       -7.7  45687.0      -14.4  321686
3      205004      -16.7   7840.0      -51.5  330314
4      192487        6.2   2258.0         53   56563
..        ...        ...      ...        ...     ...
495      5197        5.8    378.2        4.2    2148
496      5170       23.9    382.1        5.2    9737
497      5169        4.0   -214.3        5.2   48083
498      5164        4.0   -214.3        5.2   15167
499      5145       -2.8     57.2        -25    2281

[500 rows x 13 columns]

In [ ]:
#quartile 
q1 = p25  #0.25
q2 = p50 #0.5
q3 = p75  #o.75

In [9]:
q1 = df["Profits"].quantile(0.25)
print(q1)

235.725

In [23]:
q2 = df["Profits"].quantile(0.37)
print(q2)

432.063

In [25]:
q3 = df["Profits"].quantile(0.75)
print(q3)

1770.775

In [43]:
skew = df["Profits"].skew()
print(skew)

4.910176826618978

In [ ]:
#Sample Vs Population  to view any random view from the dataset
# population the entire data is population 
#sample jo hum population me se kuch lenge toh ushe sample

In [7]:
#df.sample()   #random ek column uthata hai 
df.sample(4)

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
123,124,US Foods Holding,25000,Wholesalers,Wholesalers: Food and Grocery,Rosemont,Pietro Satriano,"President, Chief Executive Officer & Director",22919,-0.9,209.8,25.2,8945
53,54,Pfizer,96500,Health Care,Pharmaceuticals,New York,Ian C. Read,Chairman & Chief Executive Officer,52824,8.1,7215.0,3.7,171615
146,147,Bristol-Myers Squibb,25000,Health Care,Pharmaceuticals,New York,Giovanni Caforio,Chief Executive Officer & Director,19427,17.3,4457.0,184.8,33707
419,420,Graybar Electric,8500,Wholesalers,Wholesalers: Diversified,St. Louis,Kathleen M. Mazzarella,"Chairman, President & Chief Executive Officer",6385,4.5,93.1,2.2,2099

In [ ]:
#df.sample(fract = 0.0)

In [ ]:
#select 70% percent data at random and calculate mean the of profit column

In [49]:
#random clounm lega har bar
df = df.sample(frac= 0.7)["Profits"].mean()
print(df)

1868.3045714285718

In [43]:
df = df["Profits"].mean()
print(df)

1779.4797999999998

In [81]:
#fix column 
df = df.sample(frac= 0.01, random_state=1)["Profits"].mean()
print(df)

1138.8200000000002

In [89]:
df = df.sample(frac= 0.01, random_state=10)["Profits"].mean()
print(df)

1088.6200000000001

In [ ]:
#select 60% the random row from the dataset  and consider that is sample
#data calaculate mean of the sample with respect column repeat
#process 5 time compute the difference between the mean and the column of each sample

In [107]:
#random
df = df.sample(frac= 0.6)["Profits"].mean()
print(df)

1624.688

In [119]:
#fix 
df = df.sample(frac= 0.6, random_state=5)["Profits"].mean()
print(df)

1787.744

In [125]:
df = df.sample(frac= 0.6, random_state=5)["Profits"].mean()
print(df)

1787.744